<% const lastUpdate = data[data.length-1] %>
<%- include("partials/head") %>
<div id="root">

    <%- include("partials/sidebar") %>
    <main class="main main--full">
        <%- include("partials/navbar") %>
        <section class="stats">
            <h3 class="heading-tertiary u-padding-left-m u-padding-top-l u-padding-top-l">Panoramica Generale</h3>
            <div class="stats__container">
                <div class="stats__box">
                    <div class="card card--flexfull">
                        <h4 class="card__title">Casi Totali <i class="fas fa-viruses"></i></h4>
                        <p class="card__data" id="totale_casi"><%= lastUpdate.totale_casi %></p>
                        <span class="span--info"><i class="fas fa-info-circle"></i> I casi totali è il numero che indica quante persone sono state contagiate in Italia dall'inizio della pandemia sino ad oggi</span>
                    </div>
                    <div class="card card--flexfull">
                        <h4 class="card__title">Casi Attivi <i class="fas fa-virus"></i></h4>
                        <p class="card__data" id="totale_positivi"><%= lastUpdate.totale_positivi %>
                            <% if(settings.incremento_attualmente_positivi)  { %>
                                <span class="span--incremento"><span class="span--incremento__numero"> +<%= lastUpdate.variazione_totale_positivi %></span> <i class="fas fa-arrow-up  span--incremento__animated"></i></span>
                            <% } else { %>
                                <span class="span--decremento"><span class="span--decremento__numero"> +<%= lastUpdate.variazione_totale_positivi %></span> <i class="fas fa-arrow-down  span--decremento__animated" ></i></span>
                            <% } %>
                        </p>
                        <span class="span--info"><i class="fas fa-info-circle"></i> Indica il numero degli attualmente positivi. Per calcolare gli attualmente positivi basta effettuare una semplice operazione: <br> CASI ATTIVI = CASI TOTALI - (GUARITI + MORTI)</span>
                    </div>
                    <div class="card card--flexfull">
                        <h4 class="card__title">Nuovi Positivi <i class="fas fa-user-plus"></i></h4>
                        <p class="card__data" id="nuovi_positivi"><%= lastUpdate.nuovi_positivi %> 
                            <% if(settings.incremento_nuovi_positivi)  { %>
                                <span class="span--incremento"><i class="fas fa-arrow-up  span--incremento__animated"></i></span>
                            <% } else { %>
                                <span class="span--decremento"><i class="fas fa-arrow-down  span--decremento__animated" ></i></span>
                            <% } %>
                        </p>
                        <span class="span--info"><i class="fas fa-info-circle"></i> I nuovi positivi indicano il numero dei contaggi avvenuti nelle ulitme 24 ore.</span>
                    </div>
                </div>
                <div class="stats__box">
                    <div class="card card--flexfull">
                        <h4 class="card__title">Guariti <i class="fas fa-heartbeat"></i></h4>
                        <p class="card__data" id="dimessi_guariti"><%= lastUpdate.dimessi_guariti %></p>
                        <span class="span--info"><i class="fas fa-info-circle"></i> «Il paziente guarito è colui che ha superato i sintomi da Covid-19 e che risulta negativo a due test consecutivi per la ricerca di Sars-CoV-2» Dunque, una paziente si definisce guarito completamente se risulta negativo a 2 tamponi consecutivamente e ripetuti a distanza di almeno 24 ore l'uno dall'altro</span>
                    </div>
                    <div class="card card--flexfull">
                        <h4 class="card__title">Morti <i class="fas fa-cross"></i></h4>
                        <p class="card__data" id="deceduti"><%= lastUpdate.deceduti %> </p>
                        <span class="span--info"><i class="fas fa-info-circle"></i> Numero dei decessi per Covid e con
                            Covid. <br> <strong>CON Covid:</strong> Vuol dire che, in aggiunta ad altre patologie, il
                            Covid ha avuto un impatto decisivo nella morte di quella persona. <br> <strong>PER
                                Covid:</strong> Sono quelle persone morte esclusivamente per la polmonite interstiziale
                            da Covid </span>
                    </div>
                </div>
                <div class="stats__box">
                    <div class="card card--flexfull">
                        <h4 class="card__title">Tamponi <i class="fas fa-vial"></i></h4>
                        <p class="card__data" id="tamponi"><%= lastUpdate.tamponi %></p>
                        <span class="span--info"><i class="fas fa-info-circle"></i> É il numero dei tamponi processati. Questo numero comprende anche i tamponi ripetuti su una persona per verificare se guarito completamente dal Covid</span>
                    </div>
                    <div class="card card--flexfull">
                        <h4 class="card__title">Casi Testati <i class="fas fa-vial"></i></h4>
                        <p class="card__data" id="casi_testati"><%= lastUpdate.casi_testati %></p>
                        <span class="span--info"><i class="fas fa-info-circle"></i> Il numero dei casi testati ci dice
                            quante persone sono state sottoposte ad almeno 1 tampone.</span>
                    </div>
                    <div class="card card--flexfull">
                        <h4 class="card__title"> Sospetti Diagnostici <i class="fas fa-vial"></i></h4>
                        <p class="card__data" id="casi_da_sospetto_diagnostico"><%= lastUpdate.casi_da_sospetto_diagnostico %>
                        </p>
                        <span class="span--info"><i class="fas fa-info-circle"></i> I sospetti diagnostici sono quei
                            positivi che hanno effettuato un tampone solo dopo aver avuto sintomatologie da Covid</span>
                    </div>
                    <div class="card card--flexfull">
                        <h4 class="card__title">Casi Da Screening <i class="fas fa-vial"></i></h4>
                        <p class="card__data" id="casi_da_screening"><%= lastUpdate.casi_da_screening %></p>
                        <span class="span--info"><i class="fas fa-info-circle"></i> I casi da screening sono quei
                            positivi che hanno effettuato test sierologici e tamponi in semplici screening di controllo.
                            La maggiorparte asintomatici</span>
                    </div>
                </div>
            </div>

            <span class="span--last_update u-margin-left-m">Ultimo aggiornamento
                <%= lastUpdate.data.slice(0, lastUpdate.data.lastIndexOf('T')) + ' alle ore: ' + lastUpdate.data.slice(lastUpdate.data.lastIndexOf('T') + 1, lastUpdate.data.length -3 ) %>
            </span>
        </section> 

        <div class="divider u-margin-top-m u-margin-bottom-l"></div>

        <section class="charts">

            <h3 class="heading-tertiary u-padding-left-m u-padding-top-l u-padding-top-l">Grafici</h3>
            <div class="charts__container">
                <div class="chart__box">
                    <canvas class="u-canvas-h-400" id="totaleCasi"></canvas>
                </div>
            </div>

            <div class="charts__container">
                <div class="chart__box">
                    <canvas class="u-canvas-h-400 " id="totalePositivi"></canvas>
                </div>
            </div>
            
            <div class="charts__container">
                <div class="chart__box">
                    <canvas class="u-canvas-h-400" id="nuoviPositivi"></canvas>
                </div>
            </div>

            <div class="charts__container">
                <div class="chart__box">
                    <canvas class="u-canvas-h-400" id="nuoviPositivi--settimanale"></canvas>
                </div>
            </div>

        </section>
    </main>
</div>

<script>
    function initObj(obj){
        let tmpObj  = {}
        if(typeof obj === 'object'){
            for(let key in obj) {
                tmpObj[key] = [];
            } 
        }
        return tmpObj;
    }   

    const reqData = <%- JSON.stringify(data) %>;
    const covidData = initObj(reqData[reqData.length-1]);
    const weeklyData = initObj(reqData[reqData.length-1]);

    reqData.forEach(objData => {
        for(let key in objData) {
            if(key === 'data'){
                objData['data'] = objData['data'].slice(5, objData['data'].lastIndexOf('T'));
            }
            covidData[key].push(objData[key])
        }    
    });

    for(let key in covidData) {
        let count = 0;
        let accumulatore = 0;

        covidData[key].forEach(element => {
            if (count < 7 && element) {
                count++;
                accumulatore += element;
            }
            else {
                count = 0;
                weeklyData[key].push(accumulatore);
                accumulatore = 0;
            }            
        });
    }

    for(let idx = 0; idx < weeklyData['data'].length; idx ++){
        //weeklyData['data'][idx] = weeklyData['data'][idx].slice(1,11) + ' al ' +  weeklyData['data'][idx].slice(-10);
        weeklyData['data'][idx] = 'Week ' + (idx+1);
    }


</script>
<%- include("partials/tail") %>