<%- include("partials/head") %>
    <main class="main main__provinceDetails main--full">
        <section class="province-details">
            <div class="province-details__card card card--flexfull">    
                <h2 class="heading-secondary"><%= data[data.length-1].denominazione_provincia %></h2>
                <h4 class="card__title">Casi Totali <i class="fas fa-viruses"></i></h4>
                <p class="card__data" id="totale_casi">
                    <%= data[data.length-1].totale_casi.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %>
                    <%if((parseInt(data[data.length-1].totale_casi) - parseInt(data[data.length-2].totale_casi)) > 0) { %>
                        <span class="span--incremento"><span
                                class="span--incremento__numero">+<%= parseInt(data[data.length-1].totale_casi) - parseInt(data[data.length-2].totale_casi) %></span>
                            <i class="fas fa-arrow-up  span--incremento__animated"></i></span>
                        <%} else {%>
                            <span class="span--stazionario"><span
                                class="span--stazionario__numero"><%= (parseInt(data[data.length-1].totale_casi) - parseInt(data[data.length-2].totale_casi)) %></span>
                            <i class="fas fa-equals span--stazionario__animated"></i></span>
                        <% } %> 
                </p>
            </div>
        </section>
    </main>

<%- include('partials/tail') %>