<% let lastDay = data.slice(-21);%>
<% let secondLastDay = data.slice(data.length-42, data.length-21);%>

<%- include('partials/head') %>

<div class="root">
    <main class="main main__regioni main--full">
        <h3 class="heading-tertiary u-padding-left-m u-padding-top-s">Panoramica Generale - Ordinati rispetto al numero dei nuovi positivi</h3>
        <section class="regioni">
            <% for(let i = 0; i < lastDay.length; i++) {  %>
            <%let tmp_value = {}%>
            <% for(let k = 0; k < lastDay.length-i-1 ; k++) {  %>

            <%  if(parseInt(lastDay[k].nuovi_positivi) < parseInt(lastDay[k+1].nuovi_positivi) ){  %>
            <% tmp_value = lastDay[k]; lastDay[k] = lastDay[k+1]; lastDay[k+1] = tmp_value %>
            <% tmp_value = secondLastDay[k]; secondLastDay[k] = secondLastDay[k+1]; secondLastDay[k+1] = tmp_value %>
            <%}%>
                <%}%>
            <%}%>

            <%let south_positives = 0, center_positives = 0, north_positives = 0;%>
            <% for(let i = 0; i < lastDay.length; i++) {  %>
            <% if(parseFloat(lastDay[i].lat) < 41.8 || parseInt(lastDay[i].codice_regione) === 13) { south_positives += lastDay[i].nuovi_positivi} %>
            <% if(parseFloat(lastDay[i].lat) > 41.8 && parseFloat(lastDay[i].lat) < 44) { center_positives += lastDay[i].nuovi_positivi} %>
            <% if(parseFloat(lastDay[i].lat) > 44) { north_positives += lastDay[i].nuovi_positivi} %>

            <div class="regioni__regione card__regioni ">
                <% if(i < 3) { %>
                    <span class="card__regioni__rank card__regioni__rank--high"><%=`${i+1}`%> </span>
                <% } else if(i < 10) { %>
                    <span class="card__regioni__rank card__regioni__rank--medium"><%=`${i+1}`%> </span>
                <% }  else { %>
                    <span class="card__regioni__rank card__regioni__rank--low"><%=`${i+1}`%> </span>
                <% } %>
                <h2 class=""><%=`${lastDay[i].denominazione_regione}`%></h2>
                <div class="card__regioni--dflex">
                    <h4 class="card__regioni__title">Casi Totali <i class="fas fa-vial"></i>: </h4>
                    <p class="card__regioni__data" id="totale_casi">
                        <%= lastDay[i].totale_casi.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %>
                    </p>
                </div>
                <div class="card__regioni--dflex">
                    <h4 class="card__regioni__title">Casi Attivi <i class="fas fa-vial"></i>: </h4>
                    <p class="card__regioni__data" id="totale_positivi">
                        <%= lastDay[i].totale_positivi.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %>
                    </p>
                </div>
                <div class="card__regioni--dflex">
                    <h4 class="card__regioni__title">Nuovi Positivi <i class="fas fa-viruses"></i>: </h4>
                    <p class="card__regioni__data" id="nuovi_positivi">
                        <%= lastDay[i].nuovi_positivi %>
                        <%if(lastDay[i].nuovi_positivi > secondLastDay[i].nuovi_positivi) { %>
                        <span class="span--incremento"><span
                                class="span--incremento__numero">+<%= lastDay[i].nuovi_positivi - secondLastDay[i].nuovi_positivi %></span>
                            <i class="fas fa-arrow-up  span--incremento__animated"></i></span>
                        <% } else if(lastDay[i].nuovi_positivi < secondLastDay[i].nuovi_positivi){%>
                            <span class="span--decremento"><span
                                class="span--decremento__numero"><%= lastDay[i].nuovi_positivi - secondLastDay[i].nuovi_positivi %></span>
                            <i class="fas fa-arrow-down span--decremento__animated"></i></span> 
                        <% } else {%>
                            <span class="span--stazionario"><span
                                class="span--stazionario__numero"><%= lastDay[i].nuovi_positivi - secondLastDay[i].nuovi_positivi %></span>
                            <i class="fas fa-equals span--stazionario__animated"></i></span>
                        <% } %> 

                    </p>
                </div>

                <div class="card__regioni--dflex">
                    <h4 class="card__regioni__title">Guariti <i class="fas fa-heartbeat"></i>: </h4>
                    <p class="card__regioni__data" id="guariti">
                        <%= lastDay[i].dimessi_guariti.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %>
                        <span class="span--positive">
                            +<%= (lastDay[i].dimessi_guariti - secondLastDay[i].dimessi_guariti).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");%>
                        </span> 
                    </p>
                </div>

                <div class="card__regioni--dflex">
                    <h4 class="card__regioni__title">Morti <i class="fas fa-cross"></i>: </h4>
                    <p class="card__regioni__data" id="deceduti">
                        <%= lastDay[i].deceduti.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %>
                        <span class="span--negative">
                            +<%= (lastDay[i].deceduti - secondLastDay[i].deceduti).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");%>
                        </span> 
                    </p>
                </div>

                <div class="card__regioni--dflex">
                    <h4 class="card__regioni__title">Tamponi <i class="fas fa-vial"></i>: </h4>
                    <p class="card__regioni__data" id="tamponi">
                        <%= lastDay[i].tamponi.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %>
                        <span class="span--neutral">
                            +<%= (lastDay[i].tamponi - secondLastDay[i].tamponi).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");%>
                        </span> 
                    </p>
                </div>



            <a href="/regioni/<%= lastDay[i].denominazione_regione.toLowerCase() %>" class="btn__more-details u-margin-top-xs u-margin-bottom-xs">Dettagli <%= lastDay[i].denominazione_regione %></a>

            </div>
            <%}%>

                <div class="card__regioni">
                    <h4 class="card__regioni__title">Positivi per area Geografica<i class="fas fa-vial"></i>: </h4>
                    <p class="card__regioni__data" id="positivi_geografici">
                        <p class="card__regioni__data">Positivi Nord: <%= north_positives %></p>
                        <p class="card__regioni__data">Positivi Centro: <%= center_positives %></p>
                        <p class="card__regioni__data">Positivi Sud: <%= south_positives %></p>
                    </p>
                </div>
        </section>
        <span class="span--last_update u-margin-left-m">Ultimo aggiornamento
            <%= lastDay[lastDay.length-1].data.slice(0, lastDay[lastDay.length-1].data.lastIndexOf('T')) + ' alle ore: ' + lastDay[lastDay.length-1].data.slice(lastDay[lastDay.length-1].data.lastIndexOf('T') + 1, lastDay[lastDay.length-1].data.length -3 ) %>
            <a href="/covid" class="btn btn--primary btn__animated--left u-margin-left-m u-margin-top-s u-margin-bottom-s">Vai ai dati Nazionali</a>
        </span>
    </main>
</div>
<%- include('partials/tail') %>